{% extends 'base.html' %}
{% block style %}
<link href="static/css/logreg.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="log">
            <div class="name_form"><p>Login</p></div>
            <form id='my_form' action="/token" method="post">
                <p><label> Email:  <input class="input_form" name="username" id="val1"></label></p>
                <p><label> Password:  <input class="input_form" name="password" id="val2"></label></p>
                <div class="btn_form"><p><button class="subbtn" type="button" value="Submit" id="btmSumbit"> Login </button> <button type="button" class="change">Register</button></p></div>
            </form>
        </div>
        <div class="reg">
            <div class="name_form"><p>Register</p></div>
            <form id='register_form' action="/reg" method="post">
                <p><label> Username: <input class="input_form" name="username" id="rval1"></label></p>
                <p><label> Email: <input class="input_form" name="email" id="rval2"></label></p>
                <p><label> Password: <input class="input_form" name="password" id="rval3"></label></p>
                <div class="btn_form"><p><button class="subbtn" type="button" id="rbtmSumbit"> Registration </button> <button type="button" class="change">Login</button></p></div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="static/js/logreg.js"></script>
{% endblock %}